{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'form/style.css' %}">
    <title>Home</title>
</head>

<body>
    <a href="/admin" class="admin">Admin</a>
    <table border="1">
        <tr>
            <th id="form_list" colspan="4">Form list</th>
        </tr>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        {% for student in students %}
        <!-- This line iterates over the 'students' (i.e. Student objects{view ko home(request ma)}) ani each row ma list add garxa -->
        <tr>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phone_number }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4">Total Students: {{ students|length }}</td>
        </tr>

    </table>

</body>

</html>