{% extends 'blog/base.html' %}

{% block title %}Todo Home{% endblock %}

{% block content %}
<h1>Todo Home</h1>
{% comment %}
List
{% endcomment %}

{% for todo in data %}
<!-- <div>
    <p>{{ todo.taskName }}</p>
    <p>{{ todo.taskDescription }}</p>
    <p>{{ todo.taskType }}</p>
    <p>{{ todo.createdAt }}</p>
    <p><img src="{{ todo.image.url }}" alt="Image" width="200"></p>
    <p>Assigned To: {{ todo.assignedTo }}</p>
    <p>Completed At: {{ todo.completedAt }}</p>
</div> -->
<p><img src="{{ todo.image.url }}" alt="Image" width="200"></p>
    <a href="{% url 'todo_details' todo.id %}">
        <button>
        view more...
    </button>
    </a>


{% endfor %}
{% endblock %}